# This .gitignore file should be placed at the root of your Unity project directory

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
[Aa]ssets/Firebase/Plugins/x86_64/FirebaseCppApp-12_1_0.bundle
[Aa]ssets/Firebase/Plugins/x86_64/FirebaseCppApp-12_1_0.dll
[Aa]ssets/Firebase/Plugins/x86_64/FirebaseCppApp-12_1_0.so
.vs/
.idea/
*.sln
*.csproj
.DS_Store
Thumbs.db
